@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

:root {
  --primary: #91D5FF;
  --dark: #000;
  --light: #fff;
}

body {
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  background: #212121;
  background-image: url(./images/concept3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

a{
  text-decoration: none;
}

header {
  background: rgba(0, 0, 0, 0.1);
  color: var(--dark);
  text-align: center;
  padding-top: 2px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #212121;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.text {
  font-family: 'Playfair Display', serif;
  color: var(--primary);
  font-weight: 400;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
}
.text2 {
  font-family: 'Roboto', sans-serif;
  color: var(--light);
  font-weight: 400;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
}
.text3 {
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
  font-weight: 400;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.text4 {
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
  font-weight: 400;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.burger {
  transition: margin-left 0.5s;
  padding: 28px;
}

nav ul li {
  list-style: none;
  margin-right: 45px;
  text-transform: uppercase;
}

.logo{
  padding-left: 5rem;
  margin-top: 25px;
}


.btn-lease{
  justify-content: center;
  background-color: var(--primary);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: var(--dark);
  padding: 10px 50px;
  margin-left: 100px;
  margin-bottom: 100px;

}
.box2 {
  margin-top: 3rem;
}